<!-- <p>{{ Math.pow(2,2) }}</p> -->
<p>{{ [1, 2].reverse() }}</p>

<hr>
<h1 class="titulo">Sección 20 de 21 - Continúa con el Curso de Angular: Componentes y Servicios</h1>
<hr>
<h1 class="titulo">Sección 19 de 21 - Crear un Formulario</h1>
<form #myForm="ngForm" (ngSubmit)="onRegister()">
  <div class="input-group">
    <label>Nombre</label>
    <input type="text" [(ngModel)]="register.name" required name="name">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-group">
    <label>Email</label>
    <input type="email" [(ngModel)]="register.email" required name="email">
    <p>Mensaje de Error</p>
  </div>
  <div class="input-group">
    <label>Password</label>
    <input type="password" [(ngModel)]="register.password" required name="password">
    <p>Mensaje de Error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>
<hr>
<h1 class="titulo">Sección 18 de 21 - NgClass & NgStyle</h1>
<input type="text" [(ngModel)]="nombre" required #nameInput3="ngModel">
<p class="message-error" [ngClass]="{
  'valid': nameInput3.valid,
  'invalid': nameInput3.invalid
}">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background': box.background,
      'display': 'block'
    }"></div>
  </div>
</div>



<hr>
<h1 class="titulo">Sección 17 de 21 - Class & Style</h1>
<input type="text" [(ngModel)]="nombre" required #nameInput2="ngModel">
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<p [style.font-style]="nameInput2.invalid ? 'italic':'normal'">Probando Style</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [src]="persona.avatar" alt="Imagen Random" [style.width.%]="widthImg">
  </div>
</div>
<hr>
<h1 class="titulo">Sección 16 de 21 - Estilos a la lista de productos</h1>
<hr>
<h1 class="titulo">Sección 15 de 21 - Angular Devtools</h1>
<hr>
<h1 class="titulo">
  Sección 14 de 21 - Uso de *ngSwitch
</h1>
<input type="text" [(ngModel)]="nombre">
<div [ngSwitch]="nombre">
  <p *ngSwitchCase="'nicolas'">
    Hola Nicolas
  </p>
  <p *ngSwitchCase="'alexander'">
    Hola Alexander
  </p>
  <p *ngSwitchDefault>
    No te conozco
  </p>
</div>
<hr>
<h1 class="titulo">Sección 13 de 21 - *ngFor para Arrays</h1>
<div class="products--grid">
  <div *ngFor="let producto of products">
    <img [src]="producto.image" [alt]="producto.name">
    <p>
      {{ producto.name }} ${{ producto.price }}
    </p>
  </div>
</div>
<hr>
<h1 class="titulo">Sección 12 de 21 - Uso de *ngFor</h1>
<input type="text" [(ngModel)]="newName">
<button (click)="addName()">Add</button>
<ul>
  <li *ngIf="estudiantes.length === 0">No hay nombres</li>
  <li *ngFor="let estudiante of estudiantes; index as i">
    {{ i }} - {{ estudiante }}
    <button (click)="eliminarEstudiante(i)">Eliminar</button>
  </li>
</ul>
<hr>
<h1 class="titulo">Sección 11 de 21 - Uso de *ngIf</h1>
<input type="text" [(ngModel)]="nombre">
<p *ngIf="nombre === 'Alexander'; else noSoyAlexander">Soy Alexander</p>
<ng-template #noSoyAlexander>
  <p>No Soy Alexander</p>
</ng-template>
<hr>
<h1 class="titulo">## Sección 10 de 21 - Data Binging con ngModel</h1>
<p>
  Nombre: {{ nombre }}
</p>
<input type="text" [(ngModel)]="nombre" required #nameInput="ngModel">
<p>
  Valid: {{ nameInput.valid }}
</p>
<p>
  Edad: {{ edad }}
</p>
<input type="number" min="18" [(ngModel)]="edad" required #edadInput="ngModel">
<p>
  Valid: {{ edadInput.valid }}
</p>
<hr>
<h1 class="titulo">## Sección 9 de 21 - Otros eventos que puedes escuchar</h1>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit modi, libero asperiores fugit ipsam tenetur nihil nobis maxime vel ad! In a, eos minus velit sunt nemo optio rerum iure?
    Assumenda soluta quia, nam velit harum optio, voluptatem cupiditate nostrum rem perspiciatis voluptatibus molestiae id totam aut neque. Dolores, dicta. Eveniet nam, dolorem odit laborum expedita hic doloribus necessitatibus officiis?
    Dicta, officia, rerum laborum tempora dolores facere ab perferendis sit sint exercitationem aspernatur possimus quos iure facilis libero optio molestias consequuntur distinctio enim ratione eligendi omnis eos cumque. Similique, facere.
    Repellendus voluptas impedit nulla sed veniam deleniti nesciunt. Nemo asperiores quam porro praesentium, obcaecati vel totam soluta nam aliquam similique ut nostrum cumque eum ratione repellendus ipsum necessitatibus odio. Enim.
    Qui, praesentium sed impedit est id tenetur inventore eius voluptas dolore! Laboriosam excepturi veritatis, illum ipsam quibusdam dolore quis ullam nesciunt? Impedit deserunt tempore optio nihil recusandae velit id perspiciatis.
    Dicta soluta fuga iusto porro vero, minus mollitia et consectetur magnam quo aut in maxime facilis aperiam distinctio. Laboriosam aliquam veritatis tenetur deleniti in quidem excepturi magnam nisi, eum maxime?
    Nostrum porro perferendis, culpa fuga autem delectus doloribus placeat quo et ex, maiores, debitis eius fugiat excepturi obcaecati magnam tempora molestias quia? Ex quasi beatae, culpa fuga aut reiciendis dolore.
    Veritatis vero hic modi, exercitationem obcaecati totam, distinctio velit necessitatibus vitae corrupti odit vel voluptate a, illum alias repellat. Sapiente beatae quam odit consequatur, fugiat a? Quod reiciendis odio recusandae!
    Hic porro, minima sapiente officiis tempore optio dolorem ut fugiat est, ullam sint vitae nobis dignissimos id sed assumenda veniam, numquam nemo dolorum! Quo doloremque vel repellat voluptas consectetur vitae.
    Neque id a dolorem provident maxime et ipsa consectetur animi alias? Reiciendis officia natus corporis debitis recusandae odio porro ullam placeat. Quos corrupti natus rem facilis. Eum impedit et molestias!
  </p>
</div>
<br><br>
Nombre: {{ inputNombre }}
<br><br>
Escribe un Nombre: <input type="text" (keyup)="onKeyUp($event)">
<hr>
<h1 class="titulo">## Sección 8 de 21 - Introduccion al Event Binding de Angular</h1>
<input type="text" [disabled]="!inputEstado">
<br><br>
<button (click)="activarDesactivar()">Activar / Desactivar</button>
<br><br>
<p>Cantidad {{ cantidad }}</p>
<button (click)="aumentarCantidad()">Aumentar Cantidad</button>
<hr>

<h1 class="titulo">## Sección 7 de 21 - Property Binding</h1>

<p class="nota">Aunque las propiedades de un elemento también se pueden alterar usando string interpolation,
  Es Recomendable que el string interpolation sea usado solo para modificar contenido de los elementos,
  Dejando así la modificación de las propiedades solo a Property Binding.
</p>

<img [src]="persona.avatar" alt="Imagen Random" height="150px">
<p>nombre: {{ persona.nombre }}, Edad: {{ persona.edad }}</p>
<br>
Progreso: <progress max="100" [value]="edad"></progress>
<br><br>
Nombre: <input type="text" [value]="nombre">
<br><br>
<button [disabled]="estadoBoton">BOTON HABILITADO</button>
<br>
<br>
<button [disabled]="!estadoBoton">BOTON DESHABILITADO</button>

<hr>

<h1 class="titulo">## Sección 6 de 21 - String interpolation</h1>

<h1>Hola Mundo</h1>
<h2>{{ 'Hola Mundo '.repeat(5) }}</h2>
<h3>Hola, Soy {{ nombre }} y tengo {{ edad }} años.</h3>
<p>3 + 3 = {{ 3 + 3 }}</p>
<img src="{{ imagenSrc }}" alt="Imagen Random" height="150px">

<hr>

<router-outlet></router-outlet>
